footer {
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;

    bottom: 0;
    position: fixed;
    width: 100%;
}

footer > span > a {
    color: white;
    text-decoration: none;
}

footer > span > a:hover {
    color: brown;
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    footer {
        position: relative;
    }
}